<?xml version="1.0"?>
<robot name="pillar" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Pillar Properties -->
    <xacro:property name="pillar_length" value=".006"/>
    <xacro:property name="pillar_width" value=".028"/>
    <xacro:property name="pillar_height" value=".081"/>
    <xacro:property name="pillar_mass" value="0.005"/>

    <!-- Intertial MACRO -->
    <xacro:macro name="pillar_inertia" params="l w h">
        <inertia ixx="${(pillar_mass*(h*h + l*l))/12}" ixy="0" ixz="0"
                 iyy="${(pillar_mass*(w*w + l*l))/12}" iyz="0"
	             izz="${(pillar_mass*(w*w + h*h))/12}"/>
    </xacro:macro>

    <!-- Pillar MACRO -->
    <xacro:macro name="pillar" params="num x y z roll pitch yaw">
        <link name="pillar_${num}_link">
            <visual>
                <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
                <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
                <geometry>
                    <box size="${pillar_length} ${pillar_width} ${pillar_height}"/>
                </geometry>
                <material name="Red"/>
            </visual>
            <collision>
                <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
                <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
                <geometry>
                    <box size="${pillar_length} ${pillar_width} ${pillar_height}"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="${pillar_mass}"/>
                <origin xyz="${x} ${y} ${z}"/>
                <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
                <pillar_inertia l="${pillar_length}" w="${pillar_width}" h="${pillar_height}"/>
	        </inertial>
        </link>

        <gazebo reference="pillar_${num}_link">
            <material>Gazebo/Red</material>
        </gazebo>

        <!-- Bottom Joint -->
	    <joint name="pillar_${num}_bottom_joint" type="fixed">
	        <parent link="base_plate_link"/>
	        <child link="pillar_${num}_link"/>
            <!-- <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/> -->
	        <origin xyz="0 0 0" rpy="0 0 0"/>
	    </joint>

        <!-- Middle Joint -->
	    <joint name="pillar_${num}_middle_joint" type="fixed">
	        <parent link="pillar_${num}_link"/>
		    <child link="pcb_plate_link"/>
            <!-- <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/> -->
		    <origin xyz="0 0 0" rpy="0 0 0"/>
	    </joint>

	    <!-- Top Joint -->
	    <joint name="pillar_${num}_top_joint" type="fixed">
	        <parent link="pillar_${num}_link"/>
	        <child link="top_plate_link"/>
            <!-- <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/> -->
	        <origin xyz="0 0 0" rpy="0 0 0"/>
	    </joint>

    </xacro:macro>

</robot>
