<?xml version="1.0"?>
<model>
    <name>testbed</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
        <name>Zahi Kakish</name>
        <email>zkakish@asu.edu</email>
    </author>

    <description>
        A simple testbed for multiple Pheenos (or robots).
    </description>
</model>
