<launch>
  <!-- URDF XML Testbed loaded on the parameter server. -->
  <param name="testbed_side_1_description" command="$(find xacro)/xacro.py '$(find pheeno_ros_sim)/urdf/testbed_side_wall_1.xacro'"/>
  <param name="testbed_side_2_description" command="$(find xacro)/xacro.py '$(find pheeno_ros_sim)/urdf/testbed_side_wall_2.xacro'"/>
  <param name="testbed_side_3_description" command="$(find xacro)/xacro.py '$(find pheeno_ros_sim)/urdf/testbed_side_wall_3.xacro'"/>
  <param name="testbed_side_4_description" command="$(find xacro)/xacro.py '$(find pheeno_ros_sim)/urdf/testbed_side_wall_4.xacro'"/>



  <!-- Run a python script to the send a service call to gazebo_ros to spawn the URDF testbed -->
  <!-- <node name="urdf_testbed_side_1_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 1.068 -y 0 -z 0 -model testbed_1 -param testbed_side_1_description"/>
  <node name="urdf_testbed_side_2_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 0 -y 1.068 -z 0 -model testbed_2 -param testbed_side_2_description"/>
  <node name="urdf_testbed_side_3_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x -1.068 -y 0 -z 0 -model testbed_3 -param testbed_side_3_description"/>
  <node name="urdf_testbed_side_4_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 0 -y -1.068 -z 0 -model testbed_4 -param testbed_side_4_description"/> -->

  <node name="urdf_testbed_side_1_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 0 -y 0 -z 0 -model testbed_1 -param testbed_side_1_description"/>
  <node name="urdf_testbed_side_2_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 0 -y 0 -z 0 -model testbed_2 -param testbed_side_2_description"/>
  <node name="urdf_testbed_side_3_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 0 -y 0 -z 0 -model testbed_3 -param testbed_side_3_description"/>
  <node name="urdf_testbed_side_4_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x 0 -y 0 -z 0 -model testbed_4 -param testbed_side_4_description"/>

  <!-- HAVE TO SET X Y Z MANUALLY AND MAKE X Y Z IN XACRO FILE 0 0 0 -->

</launch>
